.c-order {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 848px) {
  .c-order {
    padding: 40px;
    flex-direction: row;
    gap: 44px;
  }
}

@media (min-width: 1012px) {
  .c-order {
    /* width: 100%;
    height: 100vh; */
    /* padding: 50px; */
    /* display: flex; */

    gap: 80px;
  }
}

@media (min-width: 1200px) {
  .c-order {
    /* width: 100%;
    height: 100vh; */
    padding: 20px 66px;
    justify-content: space-between;

    gap: 80px;
  }
}
