.addInfos__quantities {
  display: flex;
  flex-direction: column;
  height: 88px;
  padding: 8px 7px;
}

.quantities__item {
  height: 100%;
  margin-top: 8px;
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quantities__item .item__infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quantities__item .item__infos h4 {
  font-weight: 500;
  font-size: 14px;
  color: #4e4e4e;
}

.quantities__item .item__infos span {
  font-weight: 400;
  font-size: 14px;
  color: #f09035;
}

.quantities__item .item__quantity {
  width: 89px;
  height: 32px;
  padding: 4px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f09035;
  border-radius: 5px;
}

.quantities__item .item__quantity span {
  font-weight: 400;
  font-size: 14px;
  color: #4e4e4e;
}

hr {
  height: 0px;
  border: 1px solid #e8a634;
}

@media (min-width: 924px) {
  .quantities__item {
    height: 100%;
    margin-top: 9px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1012px) {
  .addInfos__quantities {
    padding: 0;
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .quantities__item {
    height: 100%;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .addInfos__quantities {
    width: 375px;
    align-items: center;
    justify-content: center;
  }

  .quantities__item {
    max-width: 359px;
  }

  hr {
    width: 359px;
  }
}
