.addInfos__header {
  height: 55px;
  background-color: rgba(253, 215, 14, 0.2);
  padding: 8px 14px;
}

.addInfos__header h4 {
  font-weight: 500;
  font-size: 14px;
  color: #4e4e4e;
}

.addInfos__header span {
  font-weight: 400;
  font-size: 12px;
  color: #e49700;
}
