.c-order__infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.c-order__infos img {
  width: 250px;
  height: 150px;
}

.infos__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos__items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.infos__items h2 {
  color: #4e4e4e;
  font-size: 18px;
  font-weight: 500;
}

.infos__items p {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 400;
}

.item__price {
  display: flex;
  gap: 8px;
}

.item__price span:first-child {
  color: #e49700;
  font-weight: 400;
  font-size: 14px;
}

.item__price span:nth-child(2) {
  color: #4e4e4e;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: line-through;
}

@media (min-width: 848px) {
  .c-order__infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    max-width: 597px;
  }

  .c-order__infos img {
    width: 330px;
    height: 230px;
  }
}

@media (min-width: 924px) {
  .c-order__infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }

  .c-order__infos img {
    width: 350px;
    height: 250px;
  }

  .infos__items h2 {
    font-size: 20px;
  }

  .infos__items p {
    font-size: 18px;
  }

  .item__price span:first-child {
    font-size: 18px;
  }

  .item__price span:nth-child(2) {
    font-size: 18px;
  }
}

@media (min-width: 1112px) {
  .c-order__infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
  }

  .c-order__infos img {
    width: 520px;
    height: 340px;
  }

  .infos__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
  }

  .infos__items h2 {
    font-size: 28px;
  }

  .infos__items p {
    font-size: 20px;
  }

  .item__price span:first-child {
    font-size: 32px;
  }

  .item__price span:nth-child(2) {
    font-size: 32px;
  }
}

/* @media (min-width: 1200px) {
  .c-order__infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }

  .c-order__infos img {
    width: 350px;
    height: 250px;
  }

  .infos__items h2 {
    font-size: 20px;
  }

  .infos__items p {
    font-size: 18px;
  }

  .item__price span:first-child {
    font-size: 18px;
  }

  .item__price span:nth-child(2) {
    font-size: 18px;
  }
} */
